.hero {
    margin-top: -100px;
}
.search{
    width: 350px;
}
.search-btn {
    background-color: #5768AD;
    color: white;
}
.about-menu{
    margin-bottom: 30px;
}
.header__menu {
    margin-top: -45px;
    position: absolute;
    padding-bottom: 5px;
}
.video{
    margin-top: 20px;
    text-align: center;
}
/*.classinfo{
    border: 2px solid black;
}*/
/*.cards {
    border: 2px solid black;
    margin: 5px;
}*/
.appointment{
    margin-top: 20px;
}
#contactConfirm{
    display: none;
}
#ContactCreateForm input{
    color: #999999;
    background: rgba(250, 250, 250, 0.1);
}
#ContactCreateForm textarea {
    color: #999999;
    background: rgba(250, 250, 250, 0.1);
}
.card-img-top{
    padding-top: 5px;
    height: 400px;
    width: 300px;
    text-align:center;
    margin: 0 auto 0 auto;

}
.location{
    text-align: center;
    margin: 20px auto 20px auto;
}
.asset{
    margin-left: auto;
    margin-right:auto;
    text-align:center;
}
.detail-pic{
    max-height: 200px;
    max-width: 200px;
    width: 50%;
    float: left;
}
.modal-right{
    text-align:right;
    clear:none;
    top: 0;
    width: 49%;
    margin-left: 50%;
}