@model FSDP.UI.MVC.Models.ContactViewModel
<div>
    @if (Model != null)
    {
        <h5 style="text-decoration-color:white">Thank you for your message! We will respond to you as soon as possible!</h5>
    }
</div>
